@charset "UTF-8";

/* 
paleta de cores
verde: 49a09d
lilas: 5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}
html, body{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;   
    border-radius: 20px;
    height: 500px;
    width: 250px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.492);
    transition: width .5s, heigt .5s  ;
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/login.jpg) no-repeat;
    background-size: cover;
    background-position: bottom right;
    height: 200px;    
}
div#formulario h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario p{
   font-size: .8em;
}
